In [70]:
import psycopg2
from datetime import timedelta
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [71]:
MIN_LOS_ICU = 24
MAX_LOS_ICU = MIN_LOS_ICU + 48

## Read in data
Prerequisites:
1. Build postgres-functions (\i path_to_file/postgres-functions.sql)
2. Build flicu_icustay_detail (\i path_to_file/flicu_icustay_detail.sql)
3. Build pivoted_vital (\i path_to_file/pivoted_vital.sql)
4. Build flicu_pivoted_lab (\i path_to_file/flicu_pivoted_lab.sql) (alternatively, build pivoted_lab if lab values before ICU admission are needed)

In [72]:
# Connect to db
conn = psycopg2.connect(host='localhost', port=5432, dbname='mimic', user='zainab', password='password')
# conn = psycopg2.connect(dbname='mimic', user='zainab')
cur = conn.cursor() 

# Read in table with patients & admissions (inner join on subject_id) and icu_stays (inner joinon subject_id and hadm_id)
icustay_details = pd.read_sql_query("SELECT * FROM mimiciii.flicu_icustay_detail;", conn)

# Read in vital signs
pivoted_vital = pd.read_sql_query("SELECT * FROM mimiciii.pivoted_vital;", conn)

# Read in lab measurements
# Use flicu_pivoted_lab (as it only takes the lab tests during ICU stay)
#query = "SELECT * FROM mimiciii.flicu_pivoted_lab;"
# Alternative:  Use the lab values recorded previous to the ICU stay (although during same hospital admission!), 
# then sample them  (8h intervalls) and then forward fill plus cap at either icu admission time of first vital sign recorded
query = "SELECT * FROM mimiciii.pivoted_lab;"
pivoted_lab = pd.read_sql_query(query, conn)

# Close the cursor and connection to so the server can allocate bandwidth to other requests
cur.close()
conn.close()

/tmp/ipykernel_14201/682060273.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  icustay_details = pd.read_sql_query("SELECT * FROM mimiciii.flicu_icustay_detail;", conn)
/tmp/ipykernel_14201/682060273.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pivoted_vital = pd.read_sql_query("SELECT * FROM mimiciii.pivoted_vital;", conn)
/tmp/ipykernel_14201/682060273.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pivoted_lab = pd.read_sql_query(query, conn)

In [73]:
icustay_details.describe()

,subject_id,hadm_id,icustay_id,dod,admittime,dischtime,los_hospital,admission_age,hospital_expire_flag,hospstay_seq,intime,outtime,los_icu,icustay_seq,deathtime_icu,label_death_icu
count,135.000000,135.000000,135.000000,135,135,135,135.000000,135.000000,135.000000,135.000000,135,135,135.000000,135.000000,28,135.000000
mean,28397.881481,152958.348148,250852.311111,2155-06-26 03:01:20,2154-07-16 15:46:16.444444672,2154-07-26 11:00:38.666665984,9.801646,85.154711,0.333333,1.918519,2154-07-17 16:04:21.392591872,2154-07-22 03:15:09.844445184,4.465839,1.059259,2150-10-04 05:42:55.714286592,0.207407
min,10006.000000,100375.000000,201006.000000,2105-02-16 00:00:00,2102-08-29 07:15:00,2102-09-06 16:20:00,0.038194,17.191980,0.000000,1.000000,2102-08-31 17:04:12,2102-09-01 20:19:42,0.105926,1.000000,2105-06-11 02:20:00,0.000000
25%,10089.500000,128783.000000,224260.500000,2128-11-09 00:00:00,2128-11-04 16:05:00,2128-11-09 12:00:00,3.543056,64.061010,0.000000,1.000000,2128-11-06 14:34:39.499999232,2128-11-07 21:04:06,1.206337,1.000000,2128-06-12 07:32:15.000000512,0.000000
50%,40310.000000,157609.000000,249805.000000,2152-09-12 00:00:00,2151-08-13 02:23:00,2151-08-17 19:00:00,6.814583,75.663484,0.000000,1.000000,2151-08-13 12:22:00,2151-08-14 18:39:18,2.102593,1.000000,2149-05-10 04:41:30,0.000000
75%,42215.000000,174801.000000,277320.500000,2181-11-15 00:00:00,2180-05-17 14:45:00,2180-05-20 15:30:00,11.541319,83.224900,1.000000,1.000000,2180-05-17 14:46:04,2180-05-20 06:21:22.499999744,4.411424,1.000000,2173-04-23 11:26:15.000000512,0.000000
max,44228.000000,199395.000000,298685.000000,2202-12-05 00:00:00,2202-10-03 01:45:00,2202-10-11 16:30:00,123.984722,300.044741,1.000000,15.000000,2202-10-03 01:46:32,2202-10-04 17:07:38,35.406516,3.000000,2192-05-15 19:28:00,1.000000
std,15990.706467,27937.090463,28521.680003,NaN,NaN,NaN,12.765530,59.538548,0.473160,2.626080,NaN,NaN,6.217940,0.266625,NaN,0.406960

In [74]:
print(icustay_details.info())
print(icustay_details.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   subject_id                   135 non-null    int64
 1   hadm_id                      135 non-null    int64
 2   icustay_id                   135 non-null    int64
 3   gender                       135 non-null    object
 4   dod                          135 non-null    datetime64[ns]
 5   admittime                    135 non-null    datetime64[ns]
 6   dischtime                    135 non-null    datetime64[ns]
 7   los_hospital                 135 non-null    float64
 8   admission_age                135 non-null    float64
 9   ethnicity                    135 non-null    object
 10  ethnicity_grouped            135 non-null    object
 11  hospital_expire_flag         135 non-null    int64
 12  hospstay_seq                 135 non-null    int64
 13  first_hosp_stay              135 non-null    bool
 14  intime                       135 non-null    datetime64[ns]
 15  outtime                      135 non-null    datetime64[ns]
 16  los_icu                      135 non-null    float64
 17  icustay_seq                  135 non-null    int64
 18  first_icu_stay_current_hosp  135 non-null    bool
 19  first_icu_stay_patient       135 non-null    bool
 20  first_careunit               135 non-null    object
 21  deathtime_icu                28 non-null     datetime64[ns]
 22  label_death_icu              135 non-null    int64
dtypes: bool(3), datetime64[ns](6), float64(3), int64(7), object(4)
memory usage: 21.6+ KB
None
   subject_id  hadm_id  icustay_id gender        dod           admittime  \
0       10006   142345      206504      F 2165-08-12 2164-10-23 21:09:00
1       10011   105331      232110      F 2126-08-28 2126-08-14 22:32:00
2       10013   165520      264446      F 2125-10-07 2125-10-04 23:36:00

            dischtime  los_hospital  admission_age               ethnicity  \
0 2164-11-01 17:15:00      8.837500      70.637775  BLACK/AFRICAN AMERICAN
1 2126-08-28 18:59:00     13.852083      36.192279   UNKNOWN/NOT SPECIFIED
2 2125-10-07 15:13:00      2.650694      87.087423   UNKNOWN/NOT SPECIFIED

   ... first_hosp_stay              intime             outtime    los_icu  \
0  ...            True 2164-10-23 21:10:15 2164-10-25 12:21:07   1.632546
1  ...            True 2126-08-14 22:34:00 2126-08-28 18:59:00  13.850694
2  ...            True 2125-10-04 23:38:00 2125-10-07 15:13:52   2.649907

  icustay_seq first_icu_stay_current_hosp  first_icu_stay_patient  \
0           1                        True                    True
1           1                        True                    True
2           1                        True                    True

   first_careunit       deathtime_icu  label_death_icu
0            MICU                 NaT                0
1            MICU 2126-08-28 18:59:00                1
2            MICU 2125-10-07 15:13:00                1

[3 rows x 23 columns]

In [75]:
# Drop measurements with no belonging icustay_id
pivoted_vital = pivoted_vital.dropna(subset=['icustay_id'])
pivoted_lab = pivoted_lab.dropna(subset=['icustay_id'])

# Drop measurements with no belonging charttime
pivoted_vital = pivoted_vital.dropna(subset=['charttime'])
pivoted_lab = pivoted_lab.dropna(subset=['charttime'])

# Drop all duplicate rows
pivoted_vital = pivoted_vital.drop_duplicates()
pivoted_lab = pivoted_lab.drop_duplicates()

data_1 = icustay_details.copy()
print("Number of patients: ", data_1['subject_id'].nunique())
print("Number of icu stays/admissions: ", data_1['icustay_id'].nunique())

Number of patients:  99
Number of icu stays/admissions:  135

In [76]:
# Move intime up to the time of the first vital:
data_1 = data_1.sort_values("icustay_id").set_index("icustay_id")
data_1["intime_old"] = data_1["intime"]
data_1["intime"] = pivoted_vital[["icustay_id", "charttime"]].groupby("icustay_id").charttime.min()
data_1["intime"] = data_1["intime"].fillna(data_1["intime_old"])
data_1["los_icu"] = (data_1.outtime - data_1.intime)  / timedelta(days=1)
data_1.reset_index(inplace=True)

print("Number of patients without vitals:", (data_1.intime == data_1.intime_old).sum())

Number of patients without vitals: 3

TEST: Values for intime / charttime may not be NaT

In [77]:
print("Missing patient intime:", data_1.intime.isnull().sum())
print("Missing vital charttime:", pivoted_vital.charttime.isnull().sum())
print("Missing lab charttime:", pivoted_lab.charttime.isnull().sum())

Missing patient intime: 0
Missing vital charttime: 0
Missing lab charttime: 0

## Patient/ICU stay Filtering
1. Filter for the first ICU admission of each patient
2. Exclude patients from NICU/PICU
3. Filter for ICU stays that were at least MIN_LOS_ICU long
4. Filter for ICU stays that were at most MAX_LOS_ICU long
5. Exclude patients with data recordes for less than MIN_LOS_ICU
6. Exclude patients with less than one lab or vital sample registered after icu-admission

### 1. Filter for the first ICU admission of each patient
We included only the first admission of each patient in the ICU, which resulted in each patient having only one ICU admission.

In [78]:
data_2 = data_1.copy()
#data_2 = data_2[data_2['first_icu_stay_current_hosp'] == True]
data_2 = data_2[data_2['first_icu_stay_patient'] == True]

TEST: Each patient should have only one ICU stayd and its respecitve hospital admission

In [79]:
print("Number of patients: ", data_2['subject_id'].nunique())
print("Number of admissions: ", data_2['hadm_id'].nunique())
print("Number of ICU stays: ", data_2['icustay_id'].nunique())

Number of patients:  99
Number of admissions:  99
Number of ICU stays:  99

### 2. Exclude patients from NICU/PICU
Patients admitted to the neonatal intensive care unit (NICU) and pediatric
intensive care unit (PICU) were excluded.

In [80]:
data_2 = data_2[data_2.first_careunit != "NICU"]
data_2 = data_2[data_2.first_careunit != "PICU"]

TEST: It should be 38566 patients/icu stays
(*MIN_LOS_ICU == 24 && MAX_LOS_ICU == 72*)

In [81]:
print("Number of patients: ", data_2['subject_id'].nunique())
print("Number of ICU stays: ",data_2['icustay_id'].nunique())

Number of patients:  99
Number of ICU stays:  99

In [82]:
data_2[["intime", "outtime", "los_icu", "deathtime_icu", "label_death_icu"]].head(3)

,intime,outtime,los_icu,deathtime_icu,label_death_icu
0,2107-03-24 04:00:00,2107-03-31 06:55:09,7.121632,2107-03-30 12:00:00,1
1,2121-12-07 20:30:00,2121-12-09 18:43:58,1.926366,NaT,0
2,2129-11-24 21:00:00,2129-12-01 06:03:55,6.377720,2129-12-01 01:45:00,1

### 3. Filter for ICU stays that were at least MIN_LOS_ICU

In [83]:
data_3 = data_2.copy()
data_3 = data_3[data_3.los_icu >= MIN_LOS_ICU/24.0]   # FILTERING PATIENTS FOR AT LEAST MIN_LOS_ICU

In [84]:
print("Number of patients: ", data_3['subject_id'].nunique())
print("Number of icu stays: ", data_3['icustay_id'].nunique())

Number of patients:  78
Number of icu stays:  78

### 4. Filter for ICU stays that were at most MAX_LOS_ICU

In [85]:
data_4 = data_3.copy()
data_4 = data_4[data_4.los_icu < MAX_LOS_ICU/24.0]   # FILTERING PATIENTS FOR AT MOST MAX_LOS_ICU

In [86]:
print("Number of patients: ", data_4['subject_id'].nunique())
print("Number of icu stays: ", data_4['icustay_id'].nunique())

Number of patients:  45
Number of icu stays:  45

Temporary results of filtering

In [87]:
filtered_icustay_ids = pd.DataFrame(data_4['icustay_id'].unique(), columns=['icustay_id'])

### 5. Exclude patients with data recorded for less than MIN_LOS_ICU
Excluded patients for whom the duration between the first and last observations of vital signs and laboratory tests was less than MIN_LOS_ICU, i.e. first_recorded_value - intime <= MIN_LOS_ICU. The duration was calculated as the last timestamp minus the first timestamp in the chartevents/labevents table.

In [88]:
# Leave only relevant columns
vital_colums = ['icustay_id', 'charttime', 'heartrate', 'sysbp', 'diasbp', 'meanbp', 'resprate', 'tempc', 'spo2']
pivoted_vital = pivoted_vital[vital_colums]
lab_columns = ['icustay_id', 'charttime', 'albumin', 'bun', 'bilirubin', 'lactate', 'bicarbonate', 'bands', 'chloride', 'creatinine', 'glucose',
        'hemoglobin', 'hematocrit', 'platelet', 'potassium', 'ptt', 'sodium', 'wbc']
pivoted_lab = pivoted_lab[lab_columns]

# Cast icustay_id types to int
pivoted_vital['icustay_id'] = pivoted_vital['icustay_id'].astype(int)
pivoted_lab['icustay_id'] = pivoted_lab['icustay_id'].astype(int)

# Keep only values of patients in previously filtered icustay_ids in labs and vitals
pivoted_vital = pivoted_vital.merge(filtered_icustay_ids, on='icustay_id', how='inner').drop_duplicates()
pivoted_lab = pivoted_lab.merge(filtered_icustay_ids, on='icustay_id', how='inner').drop_duplicates()

Test: Number of ICU stays in vitals and labs should be the same as the filtered ones above - 18688

In [89]:
print("Number of ICU stays in pivoted_vital_filtered: ", pivoted_vital['icustay_id'].nunique())
print("Number of ICU stays in pivoted_lab_filtered: ", pivoted_lab['icustay_id'].nunique())

Number of ICU stays in pivoted_vital_filtered:  45
Number of ICU stays in pivoted_lab_filtered:  45

In [90]:
# Min of each lab and vitals
icustay_ids_charttime_min_lab = pivoted_lab[["icustay_id", "charttime"]][pivoted_lab.groupby("icustay_id")["charttime"].rank(ascending=1,method='dense') == 1]
icustay_ids_charttime_min_vital = pivoted_vital[["icustay_id", "charttime"]][pivoted_vital.groupby("icustay_id")["charttime"].rank(ascending=1,method='dense') == 1]
# Min of both combined
icustay_ids_charttime_min_vital_lab = pd.concat([icustay_ids_charttime_min_lab, icustay_ids_charttime_min_vital], ignore_index=True)
icustay_ids_charttime_min_vital_lab = icustay_ids_charttime_min_vital_lab[["icustay_id", "charttime"]][icustay_ids_charttime_min_vital_lab.groupby("icustay_id")["charttime"].rank(ascending=1,method='dense') == 1]

# Max of each lab and vitals
icustay_ids_charttime_max_lab = pivoted_lab[["icustay_id", "charttime"]][pivoted_lab.groupby("icustay_id")["charttime"].rank(ascending=0,method='dense') == 1]
icustay_ids_charttime_max_vital = pivoted_vital[["icustay_id", "charttime"]][pivoted_vital.groupby("icustay_id")["charttime"].rank(ascending=0,method='dense') == 1]
# Max of both combined
icustay_ids_charttime_max_vital_lab = pd.concat([icustay_ids_charttime_max_lab, icustay_ids_charttime_max_vital], ignore_index=True)
icustay_ids_charttime_max_vital_lab = icustay_ids_charttime_max_vital_lab[["icustay_id", "charttime"]][icustay_ids_charttime_max_vital_lab.groupby("icustay_id")["charttime"].rank(ascending=0,method='dense') == 1]

In [91]:
# Find for which icustay_ids there exist at least MIN_LOS_ICU of data
icustay_ids_vital_lab_charttime_min_max = pd.concat([icustay_ids_charttime_max_vital_lab, icustay_ids_charttime_min_vital_lab], ignore_index=True)
time_window = timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=MIN_LOS_ICU, weeks=0)
is_time_diff_bigger_window_lab = icustay_ids_vital_lab_charttime_min_max.groupby(['icustay_id'])['charttime'].transform(lambda x: (x.max()-x.min())) >= time_window

icustay_ids_vital_lab_charttime_min_max_filtered = icustay_ids_vital_lab_charttime_min_max[is_time_diff_bigger_window_lab]
print("Unique icu stays in icustay_ids_vital_lab_charttime_min_max_filtered after filtering:", icustay_ids_vital_lab_charttime_min_max_filtered['icustay_id'].nunique())

# Keep only icustay ids for which at least MIN_LOS_ICU of data exists
icustay_ids_time_filtered = pd.DataFrame(icustay_ids_vital_lab_charttime_min_max_filtered['icustay_id'].unique(), columns=['icustay_id'])
print("Unique icu stays in icustay_ids_time_filtered:", icustay_ids_time_filtered['icustay_id'].nunique())

Unique icu stays in icustay_ids_vital_lab_charttime_min_max_filtered after filtering: 45
Unique icu stays in icustay_ids_time_filtered: 45

In [92]:
# Filter for data recorded for more than MIN_LOS_ICU
filtered_icustay_ids = filtered_icustay_ids.merge(
    icustay_ids_time_filtered,
    on='icustay_id',
    how='inner'
).drop_duplicates()

### 6. Exclude patients with no vitals or labs after intime

In [93]:
# Cut labs predating the intime:
early_lab_mask = np.zeros(len(pivoted_lab), dtype=bool)

for icustay_id, intime in data_4[["icustay_id", "intime"]].to_numpy():
    early_lab_mask |= ((pivoted_lab.icustay_id == icustay_id) & (pivoted_lab.charttime < intime)).to_numpy()

pivoted_lab = pivoted_lab[~early_lab_mask]

In [94]:
# Find icustay_ids with only max one lab or max one vital registered:
icustay_ids_count = pd.DataFrame()
icustay_ids_count["vitals"] = pivoted_vital[["icustay_id", "charttime"]].groupby("icustay_id").count()
icustay_ids_count["labs"] = pivoted_lab[["icustay_id", "charttime"]].groupby("icustay_id").count()
icustay_ids_count = icustay_ids_count.reset_index()
icustay_ids_count = icustay_ids_count.fillna(0)

icustay_ids_count.describe()

          icustay_id      vitals       labs
count      45.000000   45.000000  45.000000
mean   248127.022222   58.711111   5.644444
std     29387.895224   18.827714   3.016286
min    201204.000000   24.000000   1.000000
25%    220671.000000   46.000000   4.000000
50%    243238.000000   54.000000   5.000000
75%    277021.000000   72.000000   7.000000
max    296804.000000  101.000000  16.000000

In [95]:
# Filter for min one lab and one vital
filtered_icustay_ids = filtered_icustay_ids.merge(
    icustay_ids_count[(icustay_ids_count.vitals > 0) & (icustay_ids_count.labs > 0)].icustay_id,
    on='icustay_id',
    how='inner'
).drop_duplicates()

#### Final set of filtered icustay ids (filtered_icustay_ids)

In [96]:
print("Unique icu stays (final): ", filtered_icustay_ids['icustay_id'].nunique())

Unique icu stays (final):  45

#### Create subset of all datasets (pivoted_lab, pivoted_vital, demographics) based on all exclusion criteria

In [97]:
demographics_filtered = data_4.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print("Number of ICU stays demographics: ", demographics_filtered['icustay_id'].nunique())

vital_filtered = pivoted_vital.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print("Number of ICU stays vitals: ", vital_filtered['icustay_id'].nunique())

lab_filtered = pivoted_lab.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print("Number of ICU stays labs: ", lab_filtered['icustay_id'].nunique())

Number of ICU stays demographics:  45
Number of ICU stays vitals:  45
Number of ICU stays labs:  45

TEST: Values for intime / charttime may not be NaT

In [98]:
print("Missing patient intime:", demographics_filtered.intime.isnull().sum())
print("Missing vital charttime:", vital_filtered.charttime.isnull().sum())
print("Missing lab charttime:", vital_filtered.charttime.isnull().sum())

Missing patient intime: 0
Missing vital charttime: 0
Missing lab charttime: 0

Vital sign measurements were typically taken 0.5–1.5 times per hour for the MIMIC-III database, while laboratory measurements were typically taken 1–2 times per eight hours. Therefore, each vital sign variable was aggregated into a one-hour interval, whereas each laboratory variable was aggregated into an eight-hour interval. Repeated measurements in a single interval were aggregated by the median.

In [99]:
# Observation: The lab values and vital signs don't have the same starting time
example_id = np.random.choice(filtered_icustay_ids.to_numpy().flatten())
(
    vital_filtered[["icustay_id", "charttime"]][vital_filtered["icustay_id"] == example_id].sort_values("charttime").head(3),
    lab_filtered[["icustay_id", "charttime"]][lab_filtered["icustay_id"] == example_id].sort_values("charttime").head(3)
)

(      icustay_id           charttime
 2459      290513 2175-10-02 12:12:00
 2460      290513 2175-10-02 12:42:00
 2461      290513 2175-10-02 13:22:00,
      icustay_id           charttime
 235      290513 2175-10-02 12:22:00
 236      290513 2175-10-02 12:23:00
 237      290513 2175-10-02 12:44:00)

### Align time of entries of Labs & Vitals
Make sure that the vital & lab measurements of each patient start and end at the same time (so that both input time frames are ending up in the same timeframe) - The code below adds the same time steps with NaN values.

In [100]:
vital_filtered = vital_filtered.merge(lab_filtered[['icustay_id', 'charttime']], on=['icustay_id', 'charttime'], how='outer').drop_duplicates()
print("Number of ICU stays in vital_filtered: ", vital_filtered['icustay_id'].nunique())
lab_filtered = lab_filtered.merge(vital_filtered[['icustay_id', 'charttime']], on=['icustay_id', 'charttime'], how='outer').drop_duplicates()
print("Number of ICU stays in lab_filtered: ", lab_filtered['icustay_id'].nunique())

Number of ICU stays in vital_filtered:  45
Number of ICU stays in lab_filtered:  45

In [101]:
# Test: Now both, lab measurements and vital signs, should start at the same time (additional rows with NaN values).
example_id = np.random.choice(filtered_icustay_ids.to_numpy().flatten())
(
    vital_filtered[vital_filtered["icustay_id"] == example_id].sort_values("charttime").head(3).charttime,
    lab_filtered[lab_filtered["icustay_id"] == example_id].sort_values("charttime").head(3).charttime
)

(819   2185-03-24 17:35:00
 820   2185-03-24 17:39:00
 821   2185-03-24 18:30:00
 Name: charttime, dtype: datetime64[ns],
 819   2185-03-24 17:35:00
 820   2185-03-24 17:39:00
 821   2185-03-24 18:30:00
 Name: charttime, dtype: datetime64[ns])

### Resample Vital Signs

In [102]:
vital_resampled = vital_filtered.copy()

# Resample from the end of the time series (how="last")
vital_resampled = vital_resampled.assign(charttime=vital_resampled.charttime.dt.round('H'))
#vital_resampled = vital_resampled.set_index('charttime').groupby('icustay_id').resample('1H', origin="end").median().drop(['icustay_id'], axis = 1).reset_index()
# Resample from the beginning of the time series
vital_resampled = vital_resampled.set_index('charttime').groupby('icustay_id').resample('1H', origin="start").median().drop(['icustay_id'], axis = 1).reset_index()

# Forward and backwards fill (use lambda function instead of directly applying it to groupby otherwise results from one group are carreid forward to another group...BAD)
# Fill NaNs (-1)
vital_col = vital_resampled.columns.drop(['icustay_id', 'charttime'])
vital_resampled = vital_resampled.set_index(['icustay_id', 'charttime']).groupby('icustay_id')[vital_col].transform(lambda x: x.ffill().bfill()).fillna(-1).reset_index()
#.fillna(value=vital_resampled[vital_columns].mean())#.fillna(0)#.fillna(-1)

example_id = np.random.choice(filtered_icustay_ids.to_numpy().flatten())
print(vital_filtered[vital_filtered["icustay_id"]==example_id].tail(9))
print(vital_resampled[vital_resampled["icustay_id"]==example_id].tail(3))
print(vital_resampled.isnull().sum().sum())

      icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  \
1638      261743 2163-11-22 16:21:00        NaN    NaN     NaN     NaN
1639      261743 2163-11-22 17:00:00       68.0   94.0    51.0    60.0
1640      261743 2163-11-22 18:00:00       70.0   85.0    42.0    53.0
1641      261743 2163-11-22 19:00:00       69.0   95.0    46.0    58.0
1642      261743 2163-11-22 20:00:00        NaN  108.0    47.0    60.0
1643      261743 2163-11-22 20:01:00       73.0    NaN     NaN     NaN
1644      261743 2163-11-22 20:50:00        NaN    NaN     NaN     NaN
1645      261743 2163-11-22 21:00:00       69.0  107.0    50.0    65.0
1646      261743 2163-11-23 06:05:00        NaN    NaN     NaN     NaN

      resprate      tempc  spo2
1638      23.0        NaN   NaN
1639      21.0        NaN  94.0
1640      22.0        NaN  94.0
1641       NaN        NaN  95.0
1642       NaN  36.111111   NaN
1643       NaN        NaN  94.0
1644       NaN        NaN   NaN
1645       NaN        NaN  96.0
1646       NaN        NaN   NaN
      icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  \
1270      261743 2163-11-23 04:00:00       69.0  107.0    50.0    65.0
1271      261743 2163-11-23 05:00:00       69.0  107.0    50.0    65.0
1272      261743 2163-11-23 06:00:00       69.0  107.0    50.0    65.0

      resprate      tempc  spo2
1270      22.0  36.111111  96.0
1271      22.0  36.111111  96.0
1272      22.0  36.111111  96.0
0

/tmp/ipykernel_14201/3899370013.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  vital_resampled = vital_resampled.assign(charttime=vital_resampled.charttime.dt.round('H'))
/tmp/ipykernel_14201/3899370013.py:7: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  vital_resampled = vital_resampled.set_index('charttime').groupby('icustay_id').resample('1H', origin="start").median().drop(['icustay_id'], axis = 1).reset_index()

In [103]:
vital_resampled["icustay_id"].nunique()

45

Test for classification - This must run error free for running the code later

In [104]:
test = vital_resampled.copy()
test = test.groupby("icustay_id").head(48)
print(test.head(3))
print(test.groupby(["icustay_id"])["charttime"].nunique().unique())

   icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  resprate  \
0      201204 2121-12-07 20:00:00       78.0  160.0    20.0    59.0      18.5
1      201204 2121-12-07 21:00:00       76.5  154.0    52.0    69.0      18.5
2      201204 2121-12-07 22:00:00       72.0  131.0    50.0    68.0      21.0

       tempc   spo2
0  34.777778   97.5
1  34.777778   97.5
2  34.777778  100.0
[47 48 36 30 44 46 40 27 32 39 42 25 28 45 37 43 23]

### Resample Laboratory Measurements
Added bfill to make sure that those values are not NaN

In [105]:
lab_resampled = lab_filtered.copy()
# Cut out minutes and hours, so that the resampling of the 8h takes the same time span as the 1h samples (for vitals)
lab_resampled = lab_resampled.assign(charttime=lab_resampled.charttime.dt.round('H'))
# Resample from the end of the time series 
#lab_resampled = lab_resampled.set_index('charttime').groupby('icustay_id').resample('8h', origin="end").median().drop(['icustay_id'], axis = 1).reset_index()
lab_resampled = lab_resampled.set_index('charttime').groupby('icustay_id').resample('8h', origin="start").median().drop(['icustay_id'], axis = 1).reset_index()

# Forward and backwards fill (use transform instead of direct groupby otherwise results from one group are carreid forward to another group...BAD)
# Fill NaNs (-1 or 0 or mean!?)
lab_col = lab_resampled.columns.drop(['icustay_id', 'charttime'])
lab_resampled = lab_resampled.set_index(['icustay_id', 'charttime']).groupby('icustay_id')[lab_col].transform(lambda x: x.ffill().bfill()).fillna(-1).reset_index()

example_id = np.random.choice(filtered_icustay_ids.to_numpy().flatten())
print(lab_filtered[lab_filtered["icustay_id"]==example_id].tail(9))
print(lab_resampled[lab_resampled["icustay_id"]==example_id].tail(3))
print(lab_resampled.isnull().sum().sum())

/tmp/ipykernel_14201/3595427746.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  lab_resampled = lab_resampled.assign(charttime=lab_resampled.charttime.dt.round('H'))

      icustay_id           charttime  albumin  bun  bilirubin  lactate  \
2024      272047 2147-02-25 05:15:00      NaN  NaN        NaN      NaN
2025      272047 2147-02-25 06:00:00      NaN  NaN        NaN      NaN
2026      272047 2147-02-25 07:00:00      NaN  NaN        NaN      NaN
2027      272047 2147-02-25 08:00:00      NaN  NaN        NaN      NaN
2028      272047 2147-02-25 09:00:00      NaN  NaN        NaN      NaN
2029      272047 2147-02-25 10:00:00      NaN  NaN        NaN      NaN
2030      272047 2147-02-25 11:00:00      NaN  NaN        NaN      NaN
2031      272047 2147-02-25 12:00:00      NaN  NaN        NaN      NaN
2032      272047 2147-02-25 13:00:00      NaN  NaN        NaN      NaN

      bicarbonate  bands  chloride  creatinine  glucose  hemoglobin  \
2024          NaN    NaN       NaN         NaN      NaN         NaN
2025          NaN    NaN       NaN         NaN      NaN         NaN
2026          NaN    NaN       NaN         NaN      NaN         NaN
2027          NaN    NaN       NaN         NaN      NaN         NaN
2028          NaN    NaN       NaN         NaN      NaN         NaN
2029          NaN    NaN       NaN         NaN      NaN         NaN
2030          NaN    NaN       NaN         NaN      NaN         NaN
2031          NaN    NaN       NaN         NaN      NaN         NaN
2032          NaN    NaN       NaN         NaN      NaN         NaN

      hematocrit  platelet  potassium  ptt  sodium  wbc
2024         NaN       NaN        NaN  NaN     NaN  NaN
2025         NaN       NaN        NaN  NaN     NaN  NaN
2026         NaN       NaN        NaN  NaN     NaN  NaN
2027         NaN       NaN        NaN  NaN     NaN  NaN
2028         NaN       NaN        NaN  NaN     NaN  NaN
2029         NaN       NaN        NaN  NaN     NaN  NaN
2030         NaN       NaN        NaN  NaN     NaN  NaN
2031         NaN       NaN        NaN  NaN     NaN  NaN
2032         NaN       NaN        NaN  NaN     NaN  NaN
     icustay_id           charttime  albumin   bun  bilirubin  lactate  \
208      272047 2147-02-24 20:00:00      3.5  23.0        0.7      0.9
209      272047 2147-02-25 04:00:00      3.5  23.0        0.7      0.9
210      272047 2147-02-25 12:00:00      3.5  23.0        0.7      0.9

     bicarbonate  bands  chloride  creatinine  glucose  hemoglobin  \
208         27.0   -1.0     106.0         1.1     93.0         9.6
209         27.0   -1.0     106.0         1.1     93.0         9.6
210         27.0   -1.0     106.0         1.1     93.0         9.6

     hematocrit  platelet  potassium   ptt  sodium  wbc
208        29.6     196.0        4.1  43.8   138.0  7.4
209        29.6     196.0        4.1  43.8   138.0  7.4
210        29.6     196.0        4.1  43.8   138.0  7.4
0

Test for classification  - This must run error free for running the code later

In [106]:
test = lab_resampled.copy()
test = test.groupby("icustay_id").head(6)
print(test.head(3))
print(test.groupby(["icustay_id"])["charttime"].nunique().unique())

   icustay_id           charttime  albumin   bun  bilirubin  lactate  \
0      201204 2121-12-07 20:00:00     -1.0  97.0       -1.0      1.4
1      201204 2121-12-08 04:00:00     -1.0  91.0       -1.0      1.4
2      201204 2121-12-08 12:00:00     -1.0  82.0       -1.0      1.4

   bicarbonate  bands  chloride  creatinine  glucose  hemoglobin  hematocrit  \
0         23.0   -1.0     106.0         3.2    193.0         8.9        26.3
1         24.0   -1.0     108.0         2.6     97.0         9.7        27.6
2         28.0   -1.0     109.0         2.3    112.0         9.7        24.8

   platelet  potassium   ptt  sodium  wbc
0     286.0        4.7  28.7   141.0  8.8
1     261.0        4.5  25.9   143.0  9.8
2     261.0        4.0  24.9   145.0  9.8
[6 5 4 3]

## Labels
Patients who died during their ICU stay were identified by the deathtime variable in
the admission table of MIMIC-III.

Patients who died during their stay in the ICU were included in the positive group (output = 1), and patients who survived to discharge were included in the negative group (output = 0).

This is done as part of icustay_detail.sql and stored in demographics_filtered.

### Add label to vital and lab datasets

In [107]:
vital_final = vital_resampled.merge(demographics_filtered[["icustay_id", "label_death_icu"]], on="icustay_id", how="right")
print("Number of ICU stays in final_vitals: ", vital_final['icustay_id'].nunique())

lab_final = lab_resampled.merge(demographics_filtered[["icustay_id", "label_death_icu"]], on="icustay_id", how="right")
print("Number of ICU stays in final_vitals: ", lab_final['icustay_id'].nunique())

Number of ICU stays in final_vitals:  45
Number of ICU stays in final_vitals:  45

In [108]:
demographics_filtered["label_death_icu"].value_counts()

label_death_icu
0    38
1     7
Name: count, dtype: int64

In [109]:
demographics_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   icustay_id                   45 non-null     int64
 1   subject_id                   45 non-null     int64
 2   hadm_id                      45 non-null     int64
 3   gender                       45 non-null     object
 4   dod                          45 non-null     datetime64[ns]
 5   admittime                    45 non-null     datetime64[ns]
 6   dischtime                    45 non-null     datetime64[ns]
 7   los_hospital                 45 non-null     float64
 8   admission_age                45 non-null     float64
 9   ethnicity                    45 non-null     object
 10  ethnicity_grouped            45 non-null     object
 11  hospital_expire_flag         45 non-null     int64
 12  hospstay_seq                 45 non-null     int64
 13  first_hosp_stay              45 non-null     bool
 14  intime                       45 non-null     datetime64[ns]
 15  outtime                      45 non-null     datetime64[ns]
 16  los_icu                      45 non-null     float64
 17  icustay_seq                  45 non-null     int64
 18  first_icu_stay_current_hosp  45 non-null     bool
 19  first_icu_stay_patient       45 non-null     bool
 20  first_careunit               45 non-null     object
 21  deathtime_icu                7 non-null      datetime64[ns]
 22  label_death_icu              45 non-null     int64
 23  intime_old                   45 non-null     datetime64[ns]
dtypes: bool(3), datetime64[ns](7), float64(3), int64(7), object(4)
memory usage: 7.6+ KB

In [110]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# Assuming `demographics_filtered` is your DataFrame and 'label_death_icu' is your target column

# Copy the DataFrame
demo = demographics_filtered.copy()

# Convert datetime columns to numeric (timestamp)
for col in demo.select_dtypes(include=['datetime64', 'timedelta64']).columns:
    demo[col] = demo[col].astype(int) / 10**9  # Convert to seconds

# Convert categorical columns to numeric using one-hot encoding
demo = pd.get_dummies(demo, drop_first=True)

# Apply SMOTE
smote = SMOTE(random_state=42)
demographics_features_re, demographics_targets_re = smote.fit_resample(demo.drop(columns=['label_death_icu']), demo['label_death_icu'])

demographics_targets_re_df = pd.DataFrame(demographics_targets_re, columns=['label_death_icu'])

demographics_augmented = pd.concat([demographics_features_re, demographics_targets_re_df], ignore_index=True)

demographics_augmented.describe()

,icustay_id,subject_id,hadm_id,dod,admittime,dischtime,los_hospital,admission_age,hospital_expire_flag,hospstay_seq,intime,outtime,los_icu,icustay_seq,deathtime_icu,intime_old,label_death_icu
count,76.000000,76.000000,76.000000,7.600000e+01,7.600000e+01,7.600000e+01,76.000000,76.000000,76.000000,76.0,7.600000e+01,7.600000e+01,76.000000,76.0,7.600000e+01,7.600000e+01,76.000000
mean,244170.078947,21892.052632,160599.921053,5.830732e+09,5.807946e+09,5.808364e+09,4.843574,107.388464,0.565789,1.0,5.808027e+09,5.808195e+09,1.945192,1.0,-1.695742e+09,5.808026e+09,0.500000
std,24277.304808,14664.634714,27954.771821,8.432819e+08,8.382207e+08,8.381683e+08,3.878035,69.260374,0.498946,0.0,8.381435e+08,8.381408e+08,0.490585,0.0,7.598188e+09,8.381435e+08,0.503322
min,201204.000000,10006.000000,100375.000000,4.264186e+09,4.186279e+09,4.187003e+09,0.636806,27.873580,0.000000,1.0,4.186487e+09,4.186585e+09,1.032720,1.0,-9.223372e+09,4.186487e+09,0.000000
25%,225966.250000,10045.500000,142522.750000,5.126937e+09,5.106216e+09,5.106510e+09,2.030019,72.074176,0.000000,1.0,5.106223e+09,5.106430e+09,1.602293,1.0,-9.223372e+09,5.106216e+09,0.000000
50%,241974.500000,10111.500000,169372.500000,5.811501e+09,5.774695e+09,5.774885e+09,3.717415,81.693276,1.000000,1.0,5.774694e+09,5.774890e+09,1.964711,1.0,-2.474621e+09,5.774695e+09,0.500000
75%,260289.500000,40342.000000,182717.750000,6.615856e+09,6.565413e+09,6.565540e+09,6.596790,88.580094,1.000000,1.0,6.565415e+09,6.565565e+09,2.383203,1.0,5.820379e+09,6.565413e+09,1.000000
max,296804.000000,44222.000000,199207.000000,7.350394e+09,7.221078e+09,7.221713e+09,19.902083,300.003247,1.000000,1.0,7.221083e+09,7.221301e+09,2.858333,1.0,6.832580e+09,7.221078e+09,1.000000

## Some Statistical Information

### Demographics

In [111]:
demographics_filtered.describe()

,icustay_id,subject_id,hadm_id,dod,admittime,dischtime,los_hospital,admission_age,hospital_expire_flag,hospstay_seq,intime,outtime,los_icu,icustay_seq,deathtime_icu,label_death_icu,intime_old
count,45.000000,45.000000,45.000000,45,45,45,45.000000,45.000000,45.000000,45.0,45,45,45.000000,45.0,7,45.000000,45
mean,248127.022222,26394.222222,149631.577778,2154-10-10 18:08:00,2153-07-23 23:58:33.333332992,2153-07-30 07:44:57.333334016,6.323889,93.301516,0.266667,1.0,2153-07-25 00:02:17.333334016,2153-07-26 20:44:14.044444672,1.862462,1.0,2155-01-03 05:10:00.000001024,0.155556,2153-07-24 23:42:24.599999488
min,201204.000000,10006.000000,100375.000000,2105-02-16 00:00:00,2102-08-29 07:15:00,2102-09-06 16:20:00,0.636806,27.873580,0.000000,1.0,2102-08-31 17:09:00,2102-09-01 20:19:42,1.032720,1.0,2105-06-11 02:20:00,0.000000,2102-08-31 17:04:12
25%,220671.000000,10046.000000,125449.000000,2130-11-03 00:00:00,2129-05-02 00:12:00,2129-05-06 13:40:00,3.520139,69.591952,0.000000,1.0,2129-05-01 23:00:00,2129-05-03 01:23:24.999999488,1.366019,1.0,2129-03-08 20:44:00,0.000000,2129-05-02 00:12:39.000000512
50%,243238.000000,40124.000000,156668.000000,2154-01-22 00:00:00,2151-09-12 17:04:00,2151-09-15 00:45:00,5.401389,78.453534,0.000000,1.0,2151-09-12 20:00:00,2151-09-14 16:53:31.000000512,1.870498,1.0,2163-05-15 12:00:00,0.000000,2151-09-12 18:51:52
75%,277021.000000,42135.000000,174997.000000,2182-08-03 00:00:00,2180-07-19 06:55:00,2180-07-20 13:00:00,8.378472,85.736885,1.000000,1.0,2180-07-19 08:27:00,2180-07-20 14:48:44.999999488,2.309074,1.0,2185-09-03 16:41:00,0.000000,2180-07-19 06:56:38
max,296804.000000,44222.000000,199207.000000,2202-12-05 00:00:00,2198-10-29 06:54:00,2198-11-05 15:20:00,19.902083,300.003247,1.000000,1.0,2198-10-29 08:18:00,2198-10-31 20:50:58,2.858333,1.0,2186-07-07 19:00:00,1.000000,2198-10-29 06:55:20
std,29387.895224,16193.209448,30622.331066,NaN,NaN,NaN,4.135386,66.657475,0.447214,0.0,NaN,NaN,0.540485,0.0,NaN,0.366529,NaN

In [112]:
demographics_filtered[demographics_filtered["label_death_icu"]==1].describe()

,icustay_id,subject_id,hadm_id,dod,admittime,dischtime,los_hospital,admission_age,hospital_expire_flag,hospstay_seq,intime,outtime,los_icu,icustay_seq,deathtime_icu,label_death_icu,intime_old
count,7.000000,7.000000,7.000000,7,7,7,7.000000,7.000000,7.0,7.0,7,7,7.000000,7.0,7,7.0,7
mean,243615.285714,19233.142857,171338.285714,2155-01-02 20:34:17.142856704,2154-12-30 23:24:34.285714432,2155-01-03 05:10:00.000001024,3.239881,109.975581,1.0,1.0,2155-01-01 10:04:17.142857728,2155-01-03 09:56:05.000000512,1.994304,1.0,2155-01-03 05:10:00.000001024,1.0,2155-01-01 09:58:15.857142784
min,220671.000000,10013.000000,142633.000000,2105-06-11 00:00:00,2105-05-29 18:18:00,2105-06-11 02:20:00,0.636806,48.901451,1.0,1.0,2105-06-08 19:30:00,2105-06-11 06:57:03,1.032720,1.0,2105-06-11 02:20:00,1.0,2105-06-08 20:06:06
25%,225852.000000,10027.500000,165194.500000,2129-03-08 12:00:00,2129-03-06 09:12:00,2129-03-08 20:44:00,1.319444,78.228437,1.0,1.0,2129-03-06 09:52:30,2129-03-08 22:40:39.500000256,1.573264,1.0,2129-03-08 20:44:00,1.0,2129-03-06 09:13:36.999999488
50%,228977.000000,10089.000000,168803.000000,2163-05-15 00:00:00,2163-05-14 20:43:00,2163-05-15 12:00:00,2.107639,87.087423,1.0,1.0,2163-05-14 19:00:00,2163-05-16 03:47:04,2.236875,1.0,2163-05-15 12:00:00,1.0,2163-05-14 20:43:56
75%,255263.000000,25302.500000,183621.000000,2185-09-03 12:00:00,2185-09-01 19:14:00,2185-09-03 16:41:00,2.480556,88.690145,1.0,1.0,2185-09-01 20:07:00,2185-09-03 20:19:31.000000512,2.432118,1.0,2185-09-03 16:41:00,1.0,2185-09-01 19:15:29.500000256
max,293429.000000,43870.000000,190301.000000,2186-07-07 00:00:00,2186-07-06 19:59:00,2186-07-07 19:00:00,12.334722,300.003029,1.0,1.0,2186-07-06 20:01:00,2186-07-07 20:48:07,2.679769,1.0,2186-07-07 19:00:00,1.0,2186-07-06 19:59:36
std,26773.882010,15710.259763,16513.459003,NaN,NaN,NaN,4.074741,85.065259,0.0,0.0,NaN,NaN,0.616605,0.0,NaN,0.0,NaN

In [113]:
demographics_filtered[demographics_filtered["label_death_icu"]==0].describe()

,icustay_id,subject_id,hadm_id,dod,admittime,dischtime,los_hospital,admission_age,hospital_expire_flag,hospstay_seq,intime,outtime,los_icu,icustay_seq,deathtime_icu,label_death_icu,intime_old
count,38.000000,38.000000,38.000000,38,38,38,38.000000,38.000000,38.000000,38.0,38,38,38.000000,38.0,0,38.0,38
mean,248958.131579,27713.368421,145632.973684,2154-09-25 06:18:56.842104832,2153-04-18 07:01:39.473685504,2153-04-25 04:26:07.894736896,6.891996,90.229977,0.131579,1.0,2153-04-19 05:08:14.210526208,2153-04-21 01:15:12.552631296,1.838175,1.0,NaT,0.0,2153-04-19 04:45:48.315789312
min,201204.000000,10006.000000,100375.000000,2105-02-16 00:00:00,2102-08-29 07:15:00,2102-09-06 16:20:00,1.253472,27.873580,0.000000,1.0,2102-08-31 17:09:00,2102-09-01 20:19:42,1.037060,1.0,NaT,0.0,2102-08-31 17:04:12
25%,218223.250000,10056.750000,117439.500000,2131-06-10 12:00:00,2129-07-10 12:45:30,2129-07-15 14:39:44.999999488,4.126042,67.337690,0.000000,1.0,2129-07-10 12:15:00,2129-07-11 22:23:12.249999360,1.292726,1.0,NaT,0.0,2129-07-10 12:46:21.000000512
50%,244164.500000,40227.000000,142463.500000,2153-05-18 12:00:00,2151-08-28 09:43:30,2151-08-31 21:52:30,5.826042,77.539263,0.000000,1.0,2151-08-28 16:12:00,2151-08-30 05:46:24.500000768,1.862008,1.0,NaT,0.0,2151-08-28 15:36:56
75%,278642.500000,42207.000000,172310.000000,2178-05-16 06:00:00,2176-05-04 01:10:30,2176-05-08 03:00:00,8.722743,83.249843,0.000000,1.0,2176-05-04 01:06:44.999999488,2176-05-06 03:54:15.000000512,2.241412,1.0,NaT,0.0,2176-05-04 00:45:27.249999872
max,296804.000000,44222.000000,199207.000000,2202-12-05 00:00:00,2198-10-29 06:54:00,2198-11-05 15:20:00,19.902083,300.003247,1.000000,1.0,2198-10-29 08:18:00,2198-10-31 20:50:58,2.858333,1.0,NaT,0.0,2198-10-29 06:55:20
std,30103.760129,16134.330419,31070.097366,NaN,NaN,NaN,3.938717,63.624823,0.342570,0.0,NaN,NaN,0.530888,0.0,NaN,0.0,NaN

### Vital Signs

In [114]:
vital_final.describe()

,icustay_id,charttime,heartrate,sysbp,diasbp,meanbp,resprate,tempc,spo2,label_death_icu
count,2116.000000,2116,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000
mean,247489.568998,2155-07-26 18:45:13.610586112,85.269849,123.761342,59.267604,77.858578,19.699315,36.616879,96.091682,0.146503
min,201204.000000,2102-08-31 17:00:00,31.500000,50.000000,17.000000,23.500000,3.000000,33.999998,46.000000,0.000000
25%,219013.000000,2130-02-05 03:45:00,74.000000,107.000000,50.000000,68.333298,15.000000,36.111111,95.000000,0.000000
50%,243238.000000,2151-09-14 12:30:00,84.000000,122.000000,59.000000,77.166649,19.000000,36.555557,97.000000,0.000000
75%,277021.000000,2185-03-25 08:15:00,95.000000,140.000000,69.000000,87.000000,23.000000,37.111113,99.000000,0.000000
max,296804.000000,2198-11-01 07:00:00,149.000000,201.000000,137.000000,146.000000,63.000000,40.000000,100.000000,1.000000
std,28821.435954,NaN,15.156675,23.797088,14.897067,14.794135,5.982945,0.713099,5.043227,0.353693

### Lab Measurements

In [115]:
lab_final.describe()

,icustay_id,charttime,albumin,bun,bilirubin,lactate,bicarbonate,bands,chloride,creatinine,glucose,hemoglobin,hematocrit,platelet,potassium,ptt,sodium,wbc,label_death_icu
count,284.000000,284,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000
mean,247372.334507,2155-05-28 04:01:03.380282368,0.715493,28.542254,0.048944,0.313028,24.755282,-0.116197,104.697183,1.325704,143.508803,10.069366,30.588028,203.380282,4.061268,37.415845,138.920775,11.575704,0.144366
min,201204.000000,2102-08-31 17:00:00,-1.000000,2.000000,-1.000000,-1.000000,12.000000,-1.000000,83.000000,0.300000,43.000000,-1.000000,21.800000,6.000000,2.500000,-1.000000,119.000000,0.700000,0.000000
25%,219013.000000,2130-02-05 10:00:00,-1.000000,13.000000,-1.000000,-1.000000,22.000000,-1.000000,100.000000,0.800000,99.000000,9.337500,27.800000,138.000000,3.700000,27.000000,135.000000,7.500000,0.000000
50%,243238.000000,2151-09-14 08:00:00,-1.000000,21.500000,-1.000000,-1.000000,25.000000,-1.000000,104.000000,1.100000,121.000000,10.100000,30.400000,202.000000,4.000000,33.900000,139.000000,10.300000,0.000000
75%,277021.000000,2185-03-24 20:00:00,2.800000,33.250000,0.500000,1.300000,28.000000,-1.000000,109.000000,1.400000,155.000000,11.150000,33.000000,259.000000,4.362500,43.725000,142.000000,14.200000,0.000000
max,296804.000000,2198-11-01 00:00:00,5.200000,126.000000,14.000000,18.850000,37.000000,13.000000,140.000000,7.200000,773.000000,13.600000,40.600000,448.000000,7.000000,150.000000,165.000000,65.300000,1.000000
std,28714.164080,NaN,2.044463,23.535440,2.006729,2.330726,4.193947,2.614965,7.414878,0.990337,83.834015,1.904410,4.035214,95.795321,0.602495,22.994667,5.886280,8.183653,0.352081

## Save Data

### Write Final Datasets into Postgres

In [116]:
engine = create_engine('postgresql://zainab:password@localhost:5432/mimic')

demographics_filtered.to_sql(f'demographics_min{MIN_LOS_ICU:d}h', engine, if_exists='replace', schema='mimiciii')
vital_final.to_sql(f'vital_resampled_min{MIN_LOS_ICU:d}h', engine, if_exists='replace', schema='mimiciii')
lab_final.to_sql(f'lab_resampled_min{MIN_LOS_ICU:d}h', engine, if_exists='replace', schema='mimiciii')

284

### Write Final Datasets into Pickle files (alternative to postgres)

In [117]:
data_path = f'data/min{MIN_LOS_ICU:d}h/'

demographics_filtered.to_pickle(data_path + f'demographics_min{MIN_LOS_ICU:d}h.pickle')
vital_final.to_pickle(data_path + f'vitals_min{MIN_LOS_ICU:d}h.pickle')
lab_final.to_pickle(data_path + f'labs_min{MIN_LOS_ICU:d}h.pickle')